<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sqaure Chat | Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/square-chat.png') }}" type="image/x-icon">
</head>
<body>
    <div class="chat-container">
        <div id="chatbox">
            {% for msg in messages %}
            <div class="message">
                <img src="{{ msg.profile_img }}" alt="{{ msg.name }}">
                <div class="message-content">
                    <div class="name">{{ msg.name }}</div>
                    <div class="text">{{ msg.message }}</div>
                    <div class="timestamp">{{ msg.timestamp }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin: 10px 0;">
            <input id="message" type="text" placeholder="Type your message..." />
            <button onclick="sendMessage()">Send</button>
        </div>
        <a href="{{ url_for('logout') }}">
            <button class="logout-button">Logout</button>
        </a>
    </div>    
    <script src="./static/js/chat.js"></script>
</body>
</html>