<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Square Chat | Login</title>
    <link rel="stylesheet" href="./static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="login-container">
        <h1>Welcome to Chat App</h1>
        <a href="{{ url_for('login') }}" class="google-btn">
            <img src="{{ url_for('static', filename='img/google.png') }}" alt="Google Logo">
            Login with Google
        </a>
    </div>
</body>
</html>