<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Square Chat | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/square-chat.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                Username/Email<br>
                {{ form.username(size=32) }}
            </div>
            <div>
                Password<br>
                {{ form.password(size=32) }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
        <a href="{{ url_for('signup') }}">Don't have an account? Sign up here.</a>
    </div>
</body>
</html>